@media (prefers-color-scheme: light) {
  
  :root {
    --body: #151437;
    --text: #fff;
    --dots: #ebebeb;
  }
  
  .logo::before {
    content: url(../img/svg/logo-light.svg);
  }
}

@media (max-width: 1440px) {
  .work::before {
    display: none;
  }
}

@media (max-width: 684px) {
  .work__text {
    top: 0;
    left: 30%;
  }
}